*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px;
    height: 3rem;
}
footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 10px;
    height: 3rem;
    width: 100%;
}